/*
===============================================
; Title:  Bob's Computer Repair Shop
; Author: Mark Watson
; Date: 25 July 2021
; Description: App component CSS file.
;==============================================
*/

.shop-name {
  padding: 10px 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #1c9954;
}
