/*
===============================================
; Title:  Bob's Computer Repair Shop
; Author: Mark Watson
; Date: 25 July 2021
; Description: Services component CSS file.
;==============================================
*/

.page-title {
  font-size: 3.25em;
}

#container {
  margin: 50px;
}

.card {
  margin: 0 7em;
  width: 300px;
}

button {
  color: #fff!important;
  min-width: 90px;
}

.center {
  text-align: center;
}
