/*
===============================================
; Title:  Bob's Computer Repair Shop
; Author: Mark Watson
; Date: 25 July 2021
; Description: Home component CSS file.
;==============================================
*/

.home-message {
  font-size: 3.25em;
  line-height: 1.5em;
  font-style: italic;
}

#repair-img {
  width: 200px;
}

.small-text {
  font-size: 0.60em;
  margin-bottom: 15px;
}

h3 {
  font-size: 2em;
  letter-spacing: 1.2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-card {
  width: 60%;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.center {
  text-align: center;
}
