.home-message {
  font-size: 3.25em;
  line-height: 1.5em;
  font-style: italic;
}

#repair-img {
  width: 200px;
}

.small-text {
  font-size: 0.60em;
  margin-bottom: 30px;
}

h3 {
  font-size: 2em;
  letter-spacing: 1.2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-card {
  width: 60%;
  margin: 0 auto;
}

.center {
  text-align: center;
}
